# Hoja de trabajo 3

In [121]:
import pandas as pd
import numpy as np

In [122]:
data = pd.read_csv('satgpa.csv')
data.head(5)

   sex  sat_v  sat_m  sat_sum  hs_gpa  fy_gpa
0    1     65     62      127    3.40    3.18
1    2     58     64      122    4.00    3.33
2    2     56     60      116    3.75    3.25
3    1     42     53       95    3.75    2.42
4    1     55     52      107    4.00    2.63

In [123]:
data['sex'] = data['sex'].replace(2,0)
data = data.assign(v_1 = 1)
data.head()

   sex  sat_v  sat_m  sat_sum  hs_gpa  fy_gpa  v_1
0    1     65     62      127    3.40    3.18    1
1    0     58     64      122    4.00    3.33    1
2    0     56     60      116    3.75    3.25    1
3    1     42     53       95    3.75    2.42    1
4    1     55     52      107    4.00    2.63    1

In [124]:
y = data[['fy_gpa']].to_numpy()
X = data[['sex','sat_v','sat_m','hs_gpa','v_1']].to_numpy()
print(y.shape)
print(X.shape)

(1000, 1)
(1000, 5)

In [125]:
def linear_cost(X, y, theta): 
    h = X @ theta
    return ((y-h)**2).sum() / (2 * len(X))

def linear_cost_gradient(X, y, theta): 
    h = X @ theta
    return (X.T @ (h-y))/ len(X)

In [126]:
m, n = X.shape

In [127]:
theta_0 = np.random.rand(n,1)
print(theta_0.shape)

(5, 1)

In [128]:
def gradient_descent(
X,y,theta_0,linear_cost,linear_cost_gradient,
    learning_rate = 0.0001, threshold=0.001, max_iter=10000): 
    
    thetas = theta_0
    iteration = 0 
    costs = []
    
    while np.linalg.norm(linear_cost_gradient(X,y,thetas)) > threshold and iteration < max_iter:
        iteration += 1 
        thetas = thetas - (learning_rate * linear_cost_gradient(X,y,thetas))
        costs.append(linear_cost(X,y,thetas))
        
    return thetas, costs

In [129]:
thetas, costs = gradient_descent(X,y,theta_0,linear_cost,linear_cost_gradient)

In [130]:
thetas

array([[0.36956771],
       [0.01610154],
       [0.00233941],
       [0.40505453],
       [0.07839935]])

#### Los thetas son el coeficiente que acompaña a cada variable en la regresión. Es decir, el impacto que una unidad adicional de la variable X tendrá sobre la variable y.

#### A continuación se muestra el costó mínimo obtenido por la función

In [131]:
np.amin(costs)

0.21417687292099363